<app-weather-card-wrapper>
    <div class="row">
      <div class="col">
        <span>{{ currentDate | date:'d'}} </span>
        <span>{{ currentDate | date:'MMM'}}</span>
      </div>
      <div class="col"></div>
      <div class="col">
        <span>
          <h5>{{weatherItem?.name}}</h5>
        </span>
      </div>
    </div>

    <div  *ngFor="let weather of weatherItem.weather | slice: 0 : 1">
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <app-weather-card-image [weather]="weather.main"></app-weather-card-image>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div class="col text-center">
        <span>{{weather.main}}</span>
      </div>
      <div class="col"></div>
    </div>
    </div>

    <div class="row pt-3">
      <div class="col text-center">
        <span class="fas fa-wind"></span>
        <span>  {{weatherItem?.wind.speed}}</span>
      </div>
      <div class="col text-center">
        <span class="fas fa-tint"></span>
        <span>  {{weatherItem?.main.humidity}}</span>
      </div>
      <div class="col text-center">
        <span class="fas fa-temperature-low"></span>
        <span>  {{weatherItem?.main.temp}}</span>
      </div>
    </div>
</app-weather-card-wrapper>
