<div>
  <div class="position-relative">
    <div class="position-absolute text-white">
      <span>14 </span>
      <span>Nov</span>
    </div>
  </div>
  <div>
    <div class="text-center">
      <app-weather-card-image></app-weather-card-image>
    </div>
    <div class="text-center">
      <span class="m-2 text-white">London, UK</span>
    </div>
  </div>
  <div>
    <div class="row">
      <div class="col-4 text-center text-white">
        <span>2MPH</span>
      </div>
      <div class="col-4 text-center text-white">
        <span>2%</span>
      </div>
      <div class="col-4 text-center text-white">
        <span>13.0°</span>
      </div>
    </div>
  </div>
</div>
