<div class="card border">
  <div class="card-body">
    <div class="row">
      <div class="col">
        <span>14 </span>
        <span>Nov</span>
      </div>
      <div class="col"></div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <app-weather-card-image></app-weather-card-image>
      </div>
      <div class="col"></div>
    </div>
    <div class="row">
      <div class="col"></div>
      <div class="col">
        <span><h5 class="card-title text-center">London, UK</h5></span>
      </div>
      <div class="col"></div>
    </div>
    <div class="row pt-3">
      <div class="col text-center">
        <span class="fas fa-wind"></span>
        <span>  2MPH</span>
      </div>
      <div class="col text-center">
        <span class="fas fa-tint"></span>
        <span>  2%</span>
      </div>
      <div class="col text-center">
        <span class="fas fa-temperature-low"></span>
        <span>  13.0°</span>
      </div>
    </div>
  </div>
</div>
