<div class="icon sun-shower" *ngIf="weatherCondition == 'Sun-shower'">
  <div class="cloud"></div>
  <div class="sun">
    <div class="rays"></div>
  </div>
  <div class="rain"></div>
</div>

<div class="icon thunder-storm" *ngIf="weatherCondition == 'Storm'">
  <div class="cloud"></div>
  <div class="lightning">
    <div class="bolt"></div>
    <div class="bolt"></div>
  </div>
</div>

<div class="icon cloudy" *ngIf="weatherCondition == 'Clouds' || weatherCondition == 'Scattered'">
  <div class="cloud"></div>
  <div class="cloud"></div>
</div>

<div class="icon flurries" *ngIf="weatherCondition == 'Snow'">
  <div class="cloud"></div>
  <div class="snow">
    <div class="flake"></div>
    <div class="flake"></div>
  </div>
</div>

<div class="icon sunny" *ngIf="weatherCondition == 'Clear'">
  <div class="sun">
    <div class="rays"></div>
  </div>
</div>

<div class="icon rainy" *ngIf="weatherCondition == 'Rain'">
  <div class="cloud"></div>
  <div class="rain"></div>
</div>
